@model SendMessage

@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">


@await Component.InvokeAsync("_HeadPartial")

<body>
    <!--header-->

@await Component.InvokeAsync("_NavbarPartial")
<!--/header-->
<!-- Domain Modal -->
@await Component.InvokeAsync("_ModalPartial")
<!-- //Domain modal -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Ana Sayfa</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İletişim</li>
        </ul>
    </div>
</section>
<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
        <div class="contant11-top-bg">
            <div class="container">
                <div class="title-content text-center">
                    <h6 class="sub-title">İletişim</h6>
                    <h3 class="title-big">Bizimle iletişime geç.</h3>
                </div>
                <div class="d-grid contact section-gap mt-lg-5 mt-4">
                    <div class="contact-info-left d-grid text-center">
                        <div class="contact-info">
                            <span class="fa fa-map-marker" aria-hidden="true"></span>
                            <h4>Konum</h4>
                            <p>New York, NY-90814 Hill Station 4th Street</p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                            <h4>İletişim</h4>
                            <p><a href="tel:+1-2345-678-11">+1-2345-678-11</a></p>
                            <p><a href="mailto:pizza@order.com" class="email">pizza@order.com</a></p>
                        </div>
                        <div class="contact-info">
                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                            <h4>Açılış-Kapanış</h4>
                            <p>Pazartesi - Pazar</p>
                            <p> 09.00-23.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-41-mian section-gap mt-5">
            <div class="container">
                <div class="d-grid align-form-map">
                    <div class="form-inner-cont">
                        <form method="post">
                            <div class="form-input">
                                <label for="w3lName">Ad Soyad</label>
                                <input type="text" name="Name" id="w3lName" placeholder="" />
                            </div>
                            <div class="form-input">
                                <label for="w3lSender">Email</label>
                                <input type="email" name="Email" id="w3lSender" placeholder="" required="" />
                            </div>
                            <div class="form-input">
                                <label for="w3lMessage">Message</label>
                                <textarea placeholder="" name="Message" id="w3lMessage" required=""></textarea>
                            </div>

                            <button type="submit" id="btn1" class="btn btn-style btn-primary">Gönder</button>

                        </form>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.005439735929!2d32.896603315384226!3d40.030657979411906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40820811e6e10549%3A0x9c12652c44346d8a!2zw4dhbMSxxZ9tYSB2ZSBTb3N5YWwgR8O8dmVubGlrIEXEn2l0aW0gVmUgQXJhxZ90xLFybWEgTWVya2V6aQ!5e0!3m2!1str!2str!4v1690488607451!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                       </div>
                </div>
            </div>
        </div>
</section>
<!-- footers 20 -->

@await Component.InvokeAsync("_FooterPartial")
<!-- move top -->
@await Component.InvokeAsync("_ScriptPartial")

  <script>
        $('#btn1').click(function () {
            alert("Mesaj Gönderildi");
        });
    </script>
</body>

</html>