@model List<PizzaPan.EntityLayer.Concrete.About>
<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>Şehrinizdeki En İyi Pizzayı Yapıyoruz</h3>
                <h5 class="mt-lg-3 mt-2">
                    GÜzel ve lezetli pizzalar için doğru adrestesiniz.
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    Bir çok çeşit pizza seçeneklerimizle hizmetinizdeyiz.
                </p>
                <a href="blog1.html" class="btn-style btn-primary btn mt-lg-5 mt-4">Daha Fazla Bilgi</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    @foreach (var item in Model)
                    {
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="@item.Imageurl" alt="" /></a>
                        <h4><a href="#url">@item.Title</a></h4>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>