@model PizzaPan.EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürün  Ekleme Sayfası</h1>

<form method="post">
<label>Ürün Adı</label>
<input asp-for="Name" class="form-control" style="background-color:darkgray" />
<br />
<label>Ürün Açıklaması</label>
<input asp-for="Description" class="form-control" style="background-color:darkgray" />
<br />
<label>Ürün Resmi</label>
<input asp-for="ImageUrl" class="form-control" style="background-color:darkgray" />
<br />
    <label>Ürün Fiyat</label>
<input asp-for="Price" class="form-control" style="background-color:darkgray" />
<br />
<label>Ürün Kategorisi </label>
<input asp-for="CategoryID" class="form-control" style="background-color:darkgray" />
<br />
<button class="btn btn-dark">Ürün Ekle</button>
</form>
