<section class="w3l-block py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self">
                <h3>Ne istediğinizi seçin, bir teslim alma zamanı seçin</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Siparişinizi istediğiniz tere istediğiniz zamanda getiriyoruz
                </p>
                <a href="#url" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> Online Sipariş</a>
            </div>
            <div class="col-lg-4 col-md-6 align-self mt-md-0 mt-5">
                <h3>Her çevrimiçi siparişinizde puan kazanın</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Her siparişte puan kazanarak diğer siperişte indirimden yararlanabilirsiniz...
                </p>
                <a href="#url" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-book mr-2"></span> Daha Fazla Bilgi</a>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="/pizzapan-starter/assets/images/a1.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>
